/* colors */

/* white theme */

// button, links
$color-azure: #0079ff;
// bio, data, swithtext
$color-slate-gray: #697c9a;
//text
$color-queen-blue: #4b6a9b;
// title
$color-gunmetal: #2b3442;
// background
$color-ghost-white: #f6f8ff;
//input, field
$color-light-white: #fefefe;
//box shadow
$theme-light-bs: 0 16px 30px -10px rgb(70 96 187 / 19.9%);

/* dark theme */

// button, links
$color-azure: #0079ff;
//text
$color-white: #ffffff;
//input, field
$color-yankees-blue: #1e2a47;
//backgound
$color-dark-gunmetal: #141d2f;

/* basic */
$border-radius: 0.9375rem;
$btn-border-radius: 0.625rem;
