.card {
  width: 100%;

  @include container;

  &__field {
    display: grid;
    grid-template-columns: 0.6fr 2.4fr;
    grid-template-rows: 1fr repeat(3, auto);
    grid-gap: 37px 24px;
    padding: 3rem;
    background-color: var(--input-color);
    border-radius: $border-radius;
    box-shadow: var(--bs-color);
  }

  &__img {
    grid-area: 1 / 1 / 3 / 2;

    img {
      width: 7.5rem;
      height: 7.5rem;
      background-color: #123983;
      border-radius: 50%;

      @include media(sm, mx) {
        width: 4.375rem;
        height: 4.375rem;
      }
    }

    @include media(md, mx) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: 1 / 2 / 2 / 3;

    @include media(md, mx) {
      grid-area: 1 / 2 / 2 / 3;
    }

    &-title {
      &-name {
        font-weight: 700;
        font-size: 1.625rem;
        line-height: 2.4375rem;
        color: var(--logo-color);

        @include media(sm, mx) {
          font-size: 1rem;
        }
      }

      &-link {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--button-color);

        @include media(sm, mx) {
          font-size: 0.8125rem;
        }
      }
    }

    &-data {
      padding-top: 0.5rem;
      font-weight: 400;
      font-size: 0.9375rem;
      line-height: 1.375rem;
      color: var(--bio-color);

      @include media(sm, mx) {
        width: 100%;
        font-size: 0.8125rem;
      }
    }
  }

  &__desc {
    grid-area: 2 / 2 / 3 / 3;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);

    @include media(md, mx) {
      grid-area: 2 / 1 / 3 / 3;
    }

    @include media(sm, mx) {
      font-size: 0.8125rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    grid-area: 3 / 2 / 4 / 3;
    height: auto;
    padding: 0.9375rem 2rem;
    background-color: var(--background-color);
    border-radius: $btn-border-radius;

    @include media(md, mx) {
      grid-area: 3 / 1 / 4 / 3;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include mediaWidth(400px, mx) {
        flex-direction: column;
        grid-gap: 1.5rem;
      }

      &-item {
        @include mediaWidth(400px, mx) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .item-title {
          font-weight: 400;
          font-size: 0.8125rem;
          line-height: 1.1875rem;
          color: var(--text-color);

          @include media(sm, mx) {
            font-size: 0.6875rem;
          }
        }

        .item-number {
          font-weight: 700;
          font-size: 1.375rem;
          line-height: 2.0625rem;
          color: var(--title-color);

          @include media(sm, mx) {
            font-size: 1rem;
          }
        }
      }
    }
  }

  &__links {
    grid-area: 4 / 2 / 5 / 3;

    @include media(md, mx) {
      grid-area: 4 / 1 / 5 / 3;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px 62px;

      @include media(sm, mx) {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
      }

      &-item {
        display: flex;
        align-items: center;
        color: var(--text-color);

        .item-icon {
          margin-right: 1.25rem;
          font-size: 1.25rem;
        }

        .item-title {
          font-weight: 400;
          font-size: 0.9375rem;
          line-height: 1.375rem;

          @include media(sm, mx) {
            font-size: 0.8125rem;
          }
        }
      }
    }
  }
  // &__img {
  //   width: 7.5rem;
  //   height: 50rem;
  //   margin-right: 2.3125rem;
  // }

  // &__field-header {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   width: calc(100% - 7.5rem - 2.3125rem); // - img size & img margin
  //   height: auto;
  // }

  // &__header-title {
  //   &-name {
  //     font-weight: 700;
  //     font-size: 1.625rem;
  //     line-height: 2.4375rem;
  //     color: var(--logo-color);
  //   }

  //   &-link {
  //     font-weight: 400;
  //     font-size: 1rem;
  //     line-height: 1.5rem;
  //     color: var(--button-color);
  //   }
  // }

  // &__header-data {
  //   padding-top: 0.5rem;
  //   font-weight: 400;
  //   font-size: 0.9375rem;
  //   line-height: 1.375rem;
  //   color: var(--bio-color);
  // }

  // &__desc {
  //   width: calc(100% - 7.5rem - 2.3125rem); // - img size & img margin
  //   font-weight: 400;
  //   font-size: 1rem;
  //   line-height: 1.5rem;
  //   color: var(--text-color);
  // }

  // &__info {
  //   display: flex;
  //   align-items: center;
  //   width: 100%;
  //   height: auto;
  //   padding: 0.9375rem 2rem;
  //   background-color: var(--background-color);
  //   border-radius: $btn-border-radius;

  //   &-list {
  //     &-item {
  //       .item-title {
  //         font-weight: 400;
  //         font-size: 0.8125rem;
  //         line-height: 1.1875rem;
  //         color: var(--text-color);
  //       }

  //       .item-number {
  //         font-weight: 700;
  //         font-size: 1.375rem;
  //         line-height: 2.0625rem;
  //         color: var(--title-color);
  //       }
  //     }
  //   }
  // }
}
