.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include container;

  width: 100%;

  &__logo {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2.4375rem;
    color: var(--logo-color);
  }

  &__switch {
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    letter-spacing: 0.1563rem;

    &-toggle {
      display: flex;
      align-items: center;
      color: var(--bio-color);

      &-icon {
        margin-left: 1rem;
        font-size: 1.25rem;
      }
    }
  }
}
